body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightblue;
}

.cat-image {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  text-align: center;
}

button {
  background-color: orange;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
